Options +FollowSymLinks -MultiViews
RewriteEngine On
RewriteBase /
# remove /public/ from URL
RewriteCond %{REQUEST_URI} !/public [NC]
RewriteRule ^(.*)/?$ public/$1

# # custom 404 page
ErrorDocument 404 /public/404.html
