/*------------------*\
||   Body Styling   ||
\*------------------*/
body {
  background-color: #F7EDDE !important;
}

.navbar li.nav-item>a.nav-link,
.navbar-brand,
.btn {
  font-family: cubano-sharp, 'Cubano Sharp', sans-serif;
}

/*------------------*\
||  Header Styling  ||
\*------------------*/
header>div:first-child {
  background: url(/public/img/background.png);
  background-size: calc(70vw + 300px);
  background-repeat: no-repeat;
}

#index-hd {
  background: url(/public/img/fists2.png);
  background-position: calc(70vw - 120px) calc(100% + 2vw);
  background-repeat: no-repeat;
  background-size: calc(15% + 280px);
}

#gyms-hd {
  background: url(/public/img/gyms2.png);
  background-position: calc(70vw - 120px) calc(80% + 10vw);
  background-repeat: no-repeat;
  background-size: calc(15% + 280px);
}

#events-hd {
  background: url(/public/img/events.png);
  background-position: calc(80vw - 120px) calc(110% + 5vw);
  background-repeat: no-repeat;
  background-size: calc(5% + 280px);
}

#passes-hd {
  background: url(/public/img/passes.png);
  background-position: calc(80vw - 120px) calc(95% + 5vw);
  background-repeat: no-repeat;
  background-size: calc(5% + 280px);
}

/*------------------*\
||  Footer Styling  ||
\*------------------*/
#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  height: 52px;
  right: 20px;
  width: 52px;
  z-index: 900;
}


/*------------------*\
|| Component Styles ||
\*------------------*/
.alert {
  padding: .5rem 1rem;
}

.alert-dismissible .btn-close {
  padding: .75rem 1rem;
}

.avatar {
  aspect-ratio: 1/1;
  max-height: 200px;
  max-width: 200px;
  object-fit: cover;
  width: 100%;
}

.avatar-sm {
  aspect-ratio: 1/1;
  max-height: 100px;
  max-width: 100px;
  object-fit: cover;
  width: 100%;
}

.avatar-xs {
  height: 50px;
  object-fit: cover;
  width: 50px;
}

.btn-outline-primary {
  background-color: #fff;
}

.btn.btn-raise {
  margin-top: -7px;
}

.btn.btn-secondary {
  color: var(--bs-dark);
}

.card,
.accordion-item {
  border-color: var(--bs-primary);
}

.card-icon {
  align-content: flex-end;
  display: flex;
  height: 80px;
  justify-content: center;
}

.card-icon img {
  align-self: center;
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
}

.connect {
  left: 50%;
  position: absolute;
  transform: translate(-50%, -45%);
  z-index: 100;
}

.connect span {
  color: var(--bs-primary);
  font-size: 6rem;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.fixed-message {
  position: fixed;
  top: 4rem;
  right: 0;
  left: 0;
  z-index: 1030;
}

.hr-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: var(--bs-primary);
  opacity: 1;
}

.hr-dark {
  background-color: var(--bs-dark);
  border-color: var(--bs-dark);
  color: var(--bs-dark);
  opacity: 1;
}

.ppx[value] {
  text-align: right;
  width: 3rem !important;
}

.position-relative:nth-of-type(2)>.connect {
  top: 108%;
}

/*------------------*\
||   Media Queries  ||
\*------------------*/
@media (min-width: 576px) {
  .position-relative:first-of-type>.connect {
    left: 100%;
    top: 45%;
  }

  .position-relative:nth-of-type(2)>.connect {
    left: 0;
    top: 107%;
  }

  .md-shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }

  .md-shadow-none {
    box-shadow: none !important;
  }
}

@media (min-width: 992px) {
  .position-relative:nth-of-type(2)>.connect {
    left: 100%;
    top: 45%;
  }
}


@media (max-width: 1199.98px) {
  .s-heading {
    font-size: 3rem;
  }

  .drop-menu {
    margin-left: auto;
    margin-right: 0;
  }

}
